# Mac files
.DS_Store

*.class

# Maven Build Files #
target/ 

# IntelliJ files #
.idea/
*.iml

# Eclipse files #
.project
.metadata
.pydevproject
RemoteSystemsTempFiles
.classpath
.settings

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Python
*.pyc


### Latex and bibtex
*.lof
*.log
*.lot
*.bbl
*.blg
*.aux
*.out
*.spl
*.toc
*.pdf

### TexNicCenter
*.tps
*.synctex
*.gz

